@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.animate-scan {
  animation: scan 2s linear infinite;
}

.glass {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('./fonts/HelveticaNeueLight.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

